<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon-diplab.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets/css/hacks.css">

        <title>DIPLAB Development Innovations and Policy Laboratory</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
            <header class="header" id="header">
                <nav class="nav container">
                   
                    <a href="index.html" class="nav__logo">
                        <img src="./assets/img/logo-favicon.png" class="nav__logo-icon "alt="">Polisiya Pasya Sensya
                    </a>


                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#home" class="nav__link active-link">Home</a>
                            </li>
                            <li class="nav__item">
                                <a href="https://docs.google.com/forms/d/1Rhl4DSbhP5Cz9xaDpnN1ILMsZVSGIoT0OZUEW0Taqoo/formrestricted?edit_requested=true" target="_blank" class="nav__link">Registration</a>
                            </li>
                            <li class="nav__item">
                                <a href="#mechanics" class="nav__link">Mechanics</a>
                            </li>
                            <li class="nav__item">
                                <a href="#programs" class="nav__link">Programs</a>
                            </li>
                            <li class="nav__item">
                                <a href="#faqs" class="nav__link">FAQs</a>
                            </li>
                        
                        </ul>

                        <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div>
                    </div>

                    <div class="nav__btns">
                    
                        <div class="nav__toggle" id="nav-toggle">
                            <i class="ri-menu-line"></i>
                        </div>
                    </div>
                </nav>
            </header>

            <main class="main">
                <!--==================== HOME ====================-->
                <section class="home" id="home">
                    <div class="home__container ">
                    
                        <img class="home_bg"src="./assets/img/hackathon-bg.png" alt="">

                </div>  
                
                </section>

                
                <!--==================== COUNTDOWN ====================-->
                <section class="countdown  " id="register">
                    <div class="countdown__container  grid">
                    

                        <div class="countdown_info " >
        

                            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                            <a href="https://logwork.com/countdown-7jf8" class="countdown-timer" data-timezone="Europe/London" data-textcolor="#032c54" data-date="2022-08-1 04:59" data-background="#032c54" data-digitscolor="#ffffff" data-unitscolor="#032c54">

                                <h3 class="section__title countdown__title">
                                    The DIP Lab Policy Hackathon <br>- Start in
                                </h3>
                            </a>


                            <a href="https://docs.google.com/forms/d/1Rhl4DSbhP5Cz9xaDpnN1ILMsZVSGIoT0OZUEW0Taqoo/formrestricted?edit_requested=true" class=" countdown__button button button--flex" >
                                Register <i class=" button__icon "></i>
                            </a>

                        
                        </div>

                    

                    </div>
                </section>


                <!--==================== ABOUT ====================-->
                <section class="about section container " id="about">
                    <div class="about__container grid">
                        <img src="assets/img/about.png" alt="" class="about__img">

                        <div class="about__data">
                            <h3 class="section__title about__title">
                                Our Goal
                            </h3>

                            <p class="about__description">
                                <strong>The goal of this event is to generate solutions
                                    to address the pressing challenges of the AANR sector</strong>
                            </p>

                            <div class="about__details">
                                <p class="about__details-description"><strong>Themes</strong></p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill  about__details-icon"></i>
                                    Solid Waste Management
                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill  about__details-icon"></i>
                                    Water Quality Management
                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    Watershed Governance
                                </p>
                                
                            </div>

                        
                        </div>
                    </div>
                </section>

                <!--==================== PRIZE ====================-->
                <section class="prize section container">
                    <div class="prize__bg">
                        <h2 class="section__title-center prize__title">
                            PRIZES <br> 
                        </h2>

                        <div class="prize__container grid">
                            <div class="prize__card">
                                <div class="prize__card-number"><img class="trophy__card "src="./assets/img/trophy1.png" alt="trophy"> </div>
                                <h3 class="prize__card-title">Php 10,000</h3>
                                
                            </div>

                            <div class="prize__card">
                                <div class="prize__card-number"><img class="trophy__card "src="./assets/img/trophy2.png" alt="trophy"></div>
                                <h3 class="prize__card-title">Php 8,000</h3>
                                
                            </div>

                            <div class="prize__card">
                                <div class="prize__card-number"><img class="trophy__card "src="./assets/img/trophy3.png" alt="trophy"></div>
                                <h3 class="prize__card-title">Php 5,000</h3>
                            </div>
                        </div>
                    </div>
                </section>

        


                <!--====================  OBJECTIVES | TEAMS ====================-->
                <section class="about section  container" >
                
                    <div class="about__container grid">
                        <!-- <img src="assets/img/about.png" alt="" class="about__img"> -->

                        <div class="about__data">
                            <h2 class="section__title about__title">
                                Objectives
                            </h2>

                            <div class="about__details">
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    Promote collaboration among students, researchers, and other stakeholders;
                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    Deliver strategic concepts and improvements from briefing kits
                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    Propose a policy paper/document to address issues of the AANR sector
                                </p>
                            </div>

                        
                        </div>

                        <div class="about__data">
                            <h2 class="section__title about__title">
                                Teams
                            </h2>

                            <div class="about__details">
                                <p class="about__details-description">
                                    <i class="about__details-icon"></i>
                                    Each group/team is comprised of 3-5 members which include the following: 
                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    Researcher

                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    Student
                                </p>
                                <p class="about__details-description">
                                    <i class="ri-checkbox-fill about__details-icon"></i>
                                    LGU representative from LIMASMARINA (Liliw, Majayjay, Sta. Cruz, Magdalena, Rizal, and Nagcarlan Laguna)
                                </p>
                            </div>

                        
                        </div>
                    </div>
                </section>



            <!--==================== MECHANICS ====================-->
                
                <section class="mechanics section  " id="mechanics">
                
                    <!-- MECHANICS -->
                    <div class="mechanics__container" >
                        <h2 class="section__title-center mechanics__title">
                            Mechanics 
                        </h2>
        
                        <p class="mechanics__description">
                            The first day will be dedicated to brainstorming and drafting a policy brief.  Each team of three to five "policy hackers" 
                            will be provided a challenge statement on their chosen topic. Each challenge statement contains a brief background, 
                            guide questions, and other helpful information that the policy hackers can use in developing their output. All teams 
                            will be given a mentor that they may consult during the hackathon. A briefing kit will also be provided to each policy hacker. 
        
                        </p>
                    
        
                        <p class="mechanics__description">
                            On the second day, teams will have the opportunity 
                            to pitch their policy brief to the judges through a 3-minute presentation. The top three teams
                            with the highest points will win Php 10,000, Php 8,000, and Php 5,000 respectively. 
                            <strong>Good luck!</strong> 
                        </p>
                    </div>

                
                </section>

                <!--====================  PROGRAMS ====================-->
                <section class="programs section  container" id="programs" >
                    <h2 class="section__title-center mechanics__title">
                        Program
                    </h2>
              
                    <div class="programs__container grid">
                        <!-- <img src="assets/img/about.png" alt="" class="about__img"> -->
                        
    
                        <div class="programs__data">
                            
                            <p class="programs__details-description">1 August 2022, Monday</p>
                            <h2 class="section__title programs__title">
                                Day 1: Policy 
                                <br>
                                Hackathon Proper
                            </h2>
    
                            <div class="programs__details">

                                
                                <div class="history-tl-container">
                                    <ul class="tl">
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            8:00 - <br>9:00 AM
                                        </div>
                                        <div class="item-title">Registration </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            9:00  AM
                                        </div>
                                        <div class="item-title">Opening Ceremony</div>
                                        <div class="item-detail">UPLB institutional videos</div>
                                        <div class="item-detail">DIP Lab AVP</div>
                                        <div class="item-detail">National Anthem</div>
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            9:15  AM
                                        </div>
                                        <div class="item-title">  Welcome Session</div>
                                        <div class="item-detail">Welcome Remarks </div>
                                        <div class="item-detail">Message from official </div>
                                    
                                     
                                      </li>

                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            9:30  AM
                                        </div>
                                        <div class="item-title">  Presentation of the Themes</div>
                                            <div class="item-detail">1. Solid Waste Management</div>
                                            <div class="item-detail">2. Water Quality Management </div>
                                            <div class="item-detail">3. Watershed Governance</div>
                                     
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            9:45 AM
                                        </div>
                                        <div class="item-title">Introduction of Mentors/Experts</div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            10:00 AM
                                        </div>
                                        <div class="item-title">Short Talk on Writing Policy Briefs</div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            <strong><i>10:15 AM</i></strong> 
                                        </div>
                                        <div class="item-detail"><strong><i>Health Break </i> </strong> </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            10:30 AM-<br>12:00 NN
                                        </div>
                                        <div class="item-title">Introduction of Teams</div>
                                        <div class="item-detail">Group Discussion and Policy Brief writing</div>
                                        
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                           <strong><i>12:00 NN -<br> 1:00 PM</i></strong> 
                                        </div>
                                        <div class="item-detail"><strong><i>Lunch Break </i></strong> </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            1:00 PM
                                        </div>
                                        <div class="item-title">Expert Consultation </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            1:30 PM
                                        </div>
                                        <div class="item-title">Continuation of Policy Brief writing </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            3:30 PM
                                        </div>
                                        <div class="item-title">
                                            Initial Policy Brief and Feedback </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                           <strong><i>4:30 PM</i></strong> 
                                        </div>
                                        <div class="item-detail">
                                            <strong><i>Egress</i></strong> </div>
                                       
                                      </li>
                                    </ul>
                                   
                                  </div>
                            </div>
    
                          
                        </div>


                        <div class="programs__data">
                            
                            <p class="programs__details-description">2 August 2022, Tuesday</p>
                            <h2 class="section__title programs__title">
                                Day 2: Presentation  
                                <br>
                                and Awarding
                            </h2>
    
                            <div class="programs__detail ">

                                 
                                <div class="history-tl-container">
                                    <ul class="tl">
                                      
                                     
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            9:00  AM
                                        </div>
                                        <div class="item-title">  Policy Brief refinement</div>
                                       
                                     
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            11:00 AM
                                        </div>
                                        <div class="item-title">Presentation and Feedback</div>
                                       
                                      </li>
                                      
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                           <strong><i>12:00 NN -<br>1:00 PM</i></strong> 
                                        </div>
                                        <div class="item-detail"><strong><i>Lunch Break </i></strong> </div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            1:30 PM
                                        </div>
                                        <div class="item-title">Award session and Presentation of Certificates</div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            2:30 PM
                                        </div>
                                        <div class="item-title"> Closing Remarks</div>
                                       
                                      </li>
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            2:45 PM
                                        </div>
                                        <div class="item-title">
                                            UP Naming Mahal </div>
                                       
                                      </li>
                                      
                                      <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                           <strong><i>3:00 PM</i></strong> 
                                        </div>
                                        <div class="item-detail">
                                            <strong><i>Egress</i></strong> </div>
                                       
                                      </li>
                                    </ul>
                                   
                                  </div>
                               
                            </div>
    
                          
                        </div>

                     
                    </div>
                </section>

             <!--==================== QUESTIONS ====================-->
             <section class="questions section" id="faqs">
                <h2 class="section__title-center questions__title container">
                    Questions 
                </h2>

                <div class="questions__container container grid">
                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    What is a policy hackathon?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Policy Hackathons are problem-solving events that can be used to 
                                    develop innovative policy solutions. Initiating events like this 
                                    provides an opportunity to collaborate and share ideas among people from different backgrounds and be part of the solution-making process (Massachusetts Institute of Technology, n.d.).
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Is the registration free?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Yes, the registration is free. Food and drinks will be served. 
                                    Free overnight accommodation will also be provided upon request.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Until when can I register?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    The registration is open until July 22, 2022.
                                </p>
                            </div>
                        </div>

                        
                       

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    What outputs are expected from each team after the policy hackathon?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    At the end of the event, each team is expected to come up with a policy brief on their chosen theme. 
                                    The teams will be asked to deliver a 3-minute pitch presentation of their outputs.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="questions__group">
                         <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Do I need to bring anything?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Each policy hacker can bring a laptop, otherwise, we 
                                    encourage bringing at least one laptop per team.
                                </p>
                            </div>
                        </div>


                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Who will own the intellectual property rights of our output?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Polisiya Pasya Syensya is considered an open hackathon. 
                                    The policy briefs will be considered as open source.
                                </p>
                            </div>
                        </div>


                         <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Can I post about the event on my social media accounts?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Please do! You may use the event's official hashtag 
                                    #DIPLabPolicyHackathon in your posts! You can also tag us 
                                    in Facebook (fb.com/diplab.uplb) and Twitter (twitter.com/diplab_uplb)
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Who can I contact regarding the event?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Kindly reach out to our email at diplab.uplb@up.edu.ph or through our DIP Lab Project Staff, 
                                    Ms. Johnnelda P. Cosep at jpcosep@up.edu.ph. You may also call via landline at (049) 536 3284.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             

            
            <!--==================== CONTACT ====================-->
            <section class="contact section container" id="contact">                
                <div class="contact__container grid">
                    <div class="contact__box">
                        <h3 class="section__title contact__title">
                            Venue   
                        </h3>

                        

                        <div class="contact__data">
                            <div class="contact__information">
                                <h3 class="contact__subtitle">Continuing Education Center (CEC) Conference Room  </h3>
                                <span class="contact__description">
                                    <i class="ri-map-pin-line contact__icon"></i>
                                    University of the Philippines Los Baños, Batong Malake, Los Baños, 4031 Laguna, Philippines
                                </span>
                            </div>

                            <div class="contact__information">
                                <h3 class="contact__subtitle">Write us by mail</h3>
                                <span class="contact__description">
                                    <i class="ri-mail-line contact__icon"></i>
                                    diplab.uplb@up.edu.ph 
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="contact__map-container">
                        <iframe class="contact__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d443.44086062109943!2d121.24128441353547!3d14.159280210988623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd674acf5675a1%3A0xdca047c2df796013!2sContinuing%20Education%20Center%2C%20Los%20Ba%C3%B1os%2C%20Laguna!5e0!3m2!1sen!2sph!4v1656757895285!5m2!1sen!2sph" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>

                   
                </div>
            </section>
        </main>

         <!--==================== FOOTER ====================-->
         <footer class="footer section">
            <div class="footer__container  grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <img src="./assets/img/dip lab logo white with text.png" alt="">
                    </a>

                    <p>Capacity Building Toward Innovative and Inclusive
                        Policymaking for the Development in the Agriculture,
                        Aquatic, and Natural Resources (AANR) Sector
                    </p>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Quick Links</h3>

                    <ul class="footer__data">
                        <li class="footer__item">
                            <a href="#about" class="footer__link">About</a>
                        </li>
                        <li class="footer__item">
                            <a href="hacks.html" class="footer__link">Policy Hackathon</a>
                        </li>
                       
                    </ul>

                   
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Contact Us</h3>

                    <ul class="footer__data ">
                        
                        <li class="footer__information"><a href="https://www.facebook.com/diplab.uplb">
                            <i class="ri-phone-fill footer__logo-icon"> </i></a> 049 536-3637
                            
                         </li>

                         <li class="footer__information"><a href="https://www.facebook.com/diplab.uplb">
                            <i class="ri-twitter-fill footer__logo-icon"></i></a> @diplab_uplb
                        </li>

                        <li class="footer__information"><a href="#">
                            <i class="ri-mail-line footer__logo-icon"></i></a> diplab.uplb@up.edu.ph
                        </li>

                        <li class="footer__information"><a href="https://www.facebook.com/diplab.uplb">
                            <i class="ri-facebook-fill footer__logo-icon"></i></a> Development Innovations and Policy Laboratory - DIP Lab
                        </li>

                        
                        

                    </ul>

                  
                </div>
               
            </div>

            <p class="footer__copy">&#169;  2022 Development Innovations and Policy Laboratory</p>
        </footer>
        
        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up"> 
            <i class="ri-arrow-up-fill scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="assets/js/scrollreveal.min.js"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
    </body>
</html>
